{% extends 'base.html' %}

{% block title %}
    Form for adding/editing user feedback
{% endblock %}

{% block header %}
<h1 class="display-4">{{ action }} Feedback</h1>
{% endblock %}

{% block content %}

<p class="lead">Add your feedback for whatever.</p>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>
  {% endfor %}

  <a href="/users/{{ session.username }}">
    <button type="button">Cancel</button></a>
  <button type="submit">{{ action }} Feedback</button>

</form>

{% endblock %}